canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  
}


body{
  background-color: black;
  z-index:1;
}

@font-face {
  font-family: "gap sans";
  src: url("https://cdn.glitch.global/3a79c03b-dc2a-4249-882c-cb3618ac2202/GapSansBold.ttf?v=1710804280296");
}

@font-face {
  font-family: "typewriter";
  src: url("https://cdn.glitch.global/3a79c03b-dc2a-4249-882c-cb3618ac2202/ChivoMono-VariableFont_wght.ttf?v=1711406294266");
}


@font-face {
  font-family: "handwriting";
  src: url("https://cdn.glitch.global/3a79c03b-dc2a-4249-882c-cb3618ac2202/ReenieBeanie-Regular.ttf?v=1711405487991");
}

@font-face {
  font-family: "diary";
  src: url("https://cdn.glitch.global/3a79c03b-dc2a-4249-882c-cb3618ac2202/LoveYaLikeASister-Regular.ttf?v=1711405633396");
}


.landscape{
  width:500px;
  height:auto;
}

.portrait {
  height: 700px;
  width: auto;
}

/* Hide the default toggle icon */
  details summary::-webkit-details-marker {
    display: none;
  }
  
  /* Hide the 'details' hint text */
  details::before {
    display: none;
  }
  
  /* Hide the 'Details' label */
  summary {
    list-style: none;
  }

a {
    color: inherit;
    text-decoration: underline;
/*     text-decoration: none; */
}

#image_wrapper {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video stays behind other content */
}
